# This is Git's per-user configuration file.
[user]
	name = Joe
	email = 48526917+jblsp@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	editor = nvim
[web]
	browser = firefox
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
