ZSHPLUGINS=$HOME/{{ .paths.zsh_plugins }}

if (( $+commands[vivid] )); then
  export LS_COLORS="$(vivid generate snazzy)" 
  export ZLS_COLORS="$LS_COLORS"
fi

# aliases
alias vi="nvim"
alias lg="lazygit"
alias cz="chezmoi"
alias ff="fastfetch"
alias oc="opencode"
alias sudo="sudo "
if (( $+commands[gls] )); then
  alias ls="gls --color"
else
  alias ls="ls --color"
fi
{{ if eq .chezmoi.os "darwin" }}
if [[ -x /opt/homebrew/bin/python3 ]]; then
  alias python="/opt/homebrew/bin/python3"
fi
{{ end }}


# emacs style keybinds
bindkey -e

# load oh-my-posh
if (( $+commands[oh-my-posh] )); then
  disallowed_terms=("Apple_Terminal" "xterm")
  if [[ ! " ${disallowed_terms[@]} " == *" $TERM_PROGRAM "* ]] && [[ ! " ${disallowed_terms[@]} " == *" $TERM "* ]]; then
    eval "$(oh-my-posh init zsh --config "pure")"
  fi
fi

# homebrew
if [[ -x /opt/homebrew/bin/brew ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

# extra completions
mkdir -p "$ZSH_CACHE_DIR/completions"

if [[ ! -f "$ZSH_CACHE_DIR/completions/_chezmoi" ]]; then
  typeset -g -A _comps
  autoload -Uz _chezmoi
  _comps[chezmoi]=_chezmoi
fi
chezmoi completion zsh >| "$ZSH_CACHE_DIR/completions/_chezmoi" &|

source $ZSHPLUGINS/zsh-completions/zsh-completions.plugin.zsh

# git-open
source $ZSHPLUGINS/git-open/git-open.plugin.zsh

# nvm
export NVM_DIR="$XDG_DATA_HOME/nvm"
export NVM_COMPLETION=true
source $ZSHPLUGINS/zsh-nvm/zsh-nvm.plugin.zsh

# auto-completion
zstyle ':completion:*' cache-path "$XDG_CACHE_HOME/zsh/.zcompcache"
zstyle ':completion:*' completer _complete _ignored
zstyle ':completion:*' menu select
zstyle ':completion:*' squeeze-slashes true
zstyle ':completion:*' use-cache on
zstyle ':completion:*:*:*:*:descriptions' format '%F{white}-- %d --%f'
zstyle ':completion:*:default' list-colors "$LS_COLORS"
zstyle ':completion:*:warnings' format ' %F{red}-- no matches found --%f'
autoload -Uz compinit && compinit

# zsh-syntax-highlighting
ZSH_HIGHLIGHT_HIGHLIGHTERS=(main brackets)
source $ZSHPLUGINS/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
