export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/.config}"
export XDG_CACHE_HOME="${XDG_CACHE_HOME:-$HOME/.cache}"
export XDG_DATA_HOME="${XDG_DATA_HOME:-$HOME/.local/share}"
export XDG_STATE_HOME="${XDG_STATE_HOME:-$HOME/.local/state}"

export ZSH_CACHE_DIR="$XDG_CACHE_HOME/zsh"

export GOPATH="$XDG_DATA_HOME/go"

{{ if eq .chezmoi.os "darwin" }}
export SSH_AUTH_SOCK="$HOME/.bitwarden-ssh-agent.sock"
{{ else }}
export SSH_AUTH_SOCK="$HOME/.var/app/com.bitwarden.desktop/data/.bitwarden-ssh-agent.sock"
{{ end }}

export EDITOR="nvim"
export MANPAGER="nvim +Man!"


{{ if eq .chezmoi.os "darwin" }}
export JAVA_HOME=/opt/homebrew/opt/java
{{ end }}

# path
path+=("$HOME/.local/bin")
path+=("{{ .chezmoi.workingTree }}/scripts")
path+=("$GOPATH/bin")
export path
