export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"

{{ if eq .chezmoi.os "darwin" }}
export SSH_AUTH_SOCK="$HOME/.bitwarden-ssh-agent.sock"
{{ else }}
export SSH_AUTH_SOCK="$HOME/.var/app/com.bitwarden.desktop/data/.bitwarden-ssh-agent.sock"
{{ end }}

export EDITOR="nvim"
export MANPAGER="nvim +Man!"

export ZDOTDIR="$XDG_CONFIG_HOME/zsh"
