#!/bin/bash

# compress all search.json files in firefox profiles
for profile_dir in $HOME/.mozilla/firefox/profiles/*/; do
  if [[ -f "${profile_dir}search.json" ]]; then
    mozlz4 -z -f "${profile_dir}search.json"
  fi
done
