auto-update = off
theme = TokyoNight Moon
font-feature = -calt
mouse-hide-while-typing = true
shell-integration-features = no-cursor
gtk-titlebar = false
window-theme = ghostty
font-size = 18
{{ if isExecutable "zsh" }}
command = "zsh -i"
{{ end }}
